@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin: 0rem;
}
.containermg{background: rgb(159, 127, 177);}

.donatebutton{
  margin: auto;
  margin-top: 1rem;
  width: 20rem;
}

.mg{
  font-size: 200%;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  background: rgb(238, 185, 87);
}

.sg{
  background: rgb(235, 134, 203);
  border: 2px solid rgb(192, 61, 199);
  padding-left: .5rem;
  padding-right: .5rem;
  font-size: large;
  color: rgb(52, 44, 16);
}

.dhg{
  width: 100%;
  margin: 1rem 1rem 2rem 1.3rem;
}

.ddhg{
  margin-left: 0px;
}

.phg{
  margin-left: 2.2rem;
  width: 20rem;
}
.pdg{
  margin-left: 1rem;
}
.pim{
  padding-left: 1.2rem;
  padding-right:1.2rem;
}

.cardnumber{
  width: 50%;
}

.AF{
  padding-left:1.5rem;
}