@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;500;600&display=swap');
body
{    
    color: black;
}
.p-message
{ font-family: 'Roboto Slab', serif;}
.p3
{
    text-align: center;
    font-size: 50px;
    background-color: #2b0963;
    color: white;

}
.p10
{
line-height: 1.5rem;
margin-left: 60px;
margin-right: 80px;
margin-bottom: 30px;
}
.p101{    display: flex;}
.p1011{ margin-left: 40px;}
.p5 {width: 20%;}
.p4
{
    color: rgb(243, 14, 14); 
    background-color: rgb(215, 238, 168);
    line-height: 1.6rem;
}
@media only screen and (max-width:900px) and (min-width:701px)
{
    /* .p101{display: block;} */
    .p5{
        width: 30%;
        margin-left: 20px;}
    .p10{margin: 0px;}
    .p1011{width: 90%;
        margin: 20px;}
    .p101{padding-bottom: 0px;}
    .p102{margin: 20px;}
}
@media only screen and (max-width:700px) and (min-width:401px)
{
    .p101{display: block;}
    .p5{width: 80%;
        margin-left: 20px;}
    .p10{margin: 0px;}
    .p1011{width: 90%;
        margin: 20px;}
    .p102{margin: 20px;}
    .p1013{display: none;}
}
@media only screen and (max-width:400px)
{
    .p101{display: block;}
    .p5{width: 80%;
        margin-left: 20px;}
    .p10{margin: 0px;}
    .p1011{width: 80%;
    margin: 20px;}
    .p102{margin: 20px;}
    .p1013{display: none;}
    .p1014{display: none;}
    .p3{
        font-size: 30px;
    }
}
@media only screen and (max-width:300px)
{
    .p3{font-size: 30px;}
    .p1013{display: none;}
    .p1014{display: none;}
}