

.ecard{
  
    width:100vw;
    height:700px;
    background-color: #515a75;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
      "e1 e2 e3 e4"
      "e5 e6 e7 e8"
    ;
    justify-content: center;
  }
  .et1
  {
   /* background-color: blanchedalmond; */
    padding-top: 20%;
    grid-area: e1;
  
  }
  .et2
  {
   /* background-color:red; */
  
    padding-top: 20%;
    grid-area: e2;
  
    
  }
  .et3
  {
   /* background-color: rgb(190, 180, 165); */
  
    padding-top: 20%;
    grid-area: e3;
  
  
  }
  .et4
  {
    padding-top: 20%;
    grid-area: e4;
    
  
  }
  .et5
  {
    padding-top: 20%;
    grid-area: e5;
    
  
  }
  .et6
  {
    padding-top: 20%;
    grid-area: e6;
    
  
  }
  .et7
  {
    padding-top: 20%;
    grid-area: e7;
    
  
  }
  .et8
  {
    padding-top: 20%;
    grid-area: e8;
    
  
  }

  @media only screen and (max-width:1100px) and (min-width:601px)
  {
      .ecard{
    height:1400px;
          
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        
              "e1 e2"
              "e3 e4" 
              "e5 e6"
              "e7 e8"        
        ;
      }
  }
  @media only screen and (max-width:600px) and (min-width:401px)
  {
    .et1{
      margin-left: 100px;
    }
    .et2{
      margin-left: 100px;
    }
    .et3{
      margin-left: 100px;
    }
    .et4{
      margin-left: 100px;
    }
    .et5{
      margin-left: 100px;
    }
    .et6{
      margin-left: 100px;
    }
    .et7{
      margin-left: 100px;
    }
    .et8{
      margin-left: 100px;
    }

      
  
    .ecard{
        height:2600px;
              
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            grid-template-areas: 
            
                  "e1"
                  "e2"
                  "e3"
                  "e4"
                  "e5"
                  "e6"
                  "e7"
                  "e8"
                  
                        
            ;
          }
      }
  @media only screen and (max-width:400px) and (min-width:200px)
  {
    .et1{
      margin-left: 20px;
    }
    .et2{
      margin-left: 20px;
    }
    .et3{
      margin-left: 20px;
    }
    .et4{
      margin-left: 20px;
    }
    .et5{
      margin-left: 20px;
    }
    .et6{
      margin-left: 20px;
    }
    .et7{
      margin-left: 20px;
    }
    .et8{
      margin-left: 20px;
    }

      
  
    .ecard{
        height:2400px;
              
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
            grid-template-areas: 
            
                  "e1"
                  "e2"
                  "e3"
                  "e4"
                  "e5"
                  "e6"
                  "e7"
                  "e8"
                  
                        
            ;
          }
      }
  
  
  
  