.evnc{
  
    width:100vw;
    height:750px;
    background-color: #5d5b5e;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "ev1 ev2 ev3 ev4"
      "ev5 ev6 ev7 ev8"
    ;
    justify-content: center;
  }
 
 .evn1
  {
     
    padding-top: 20px;
    grid-area: ev1;
  }
  .evn2
  {
    padding-top: 20px;
    grid-area: ev2;  
  }
  .evn3
  {
    padding-top: 20px;
    grid-area: ev3;
  }
  .evn4
  {
    padding-top: 20px;
    grid-area: ev4;
  }
  .evn5
  {
    padding-top: 20px;
    grid-area: ev5;
  }
  .evn6
  {
    padding-top: 20px;
    grid-area: ev6; 
  }
  .evn7
  {
    padding-top: 20px;
    grid-area: ev7;
  }
  .evn8
  {
    padding-top: 20px;
    grid-area: ev8;
  }
 
  
  .fcard {
   
    background-color: transparent;
    width: 260px;
    height: 220px;
    /* border: 1px solid #f1f1f1; */
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    border-radius: 10px;
  
  }
  
  /* This container is needed to position the front and back side */
  .finner {
  
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
  
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .fcard:hover .finner {
    transform: rotateY(180deg);
    box-shadow: 3px 0px 32px 2px #f5e7e0;
  
  }
  
  /* Position the front and back side */
  .ffront, 
  .fback {
    padding-top: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 10px;
  
  }
  
  /* Style the front side (fallback if image is missing) */
  .ffront {
    background-color: rgb(28, 197, 6);
    color: black;
  }
  
  /* Style the back side */
  .fback {
    background-color: rgb(58, 90, 124);
    color: white;
    transform: rotateY(180deg);
  }

  .wevn
{
  background-color: white;
  border-radius: 20px;
  color:blue;
}
.wevn:hover{
  color:white;
  background-color: rgb(0, 0, 255,0.5);
}

@media only screen and (max-width:1120px) and (min-width:831px)
{
    .evnc{
  
        width:100vw;
        height:750px;
        background-color: #5d5b5e;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-areas:
          "ev1 ev2 ev3"
          "ev4 ev5 ev6"
          "ev7 ev8 ev-1"
        ;
        
      }
}
@media only screen and (max-width:830px) and (min-width:581px)
{
    .evnc{
  
        width:100vw;
        height:1050px;
        background-color: #5d5b5e;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "ev1 ev2"
          "ev3 ev4"
          "ev5 ev6"
          "ev7 ev8"
         
        ;
        
      } 
}
@media only screen and (max-width:579px) and (min-width:460px)
{
    .evnc{
  
        width:100vw;
        height:1050px;
        background-color: #5d5b5e;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "ev1"
          "ev2"
          "ev3"
          "ev4"
          "ev5"
          "ev6"
          "ev7"
          "ev8"
         
        ;
 
   

        
      } 
      .evn1
  {
     
    padding-left: 90px;
    grid-area: ev1;
  }
  .evn2
  {
    padding-left: 90px;
    grid-area: ev2;  
  }
  .evn3
  {
    padding-left: 90px;
    grid-area: ev3;
  }
  .evn4
  {
    padding-left: 90px;
    grid-area: ev4;
  }
  .evn5
  {
    padding-left: 90px;
    grid-area: ev5;
  }
  .evn6
  {
    padding-left: 90px;
    grid-area: ev6; 
  }
  .evn7
  {
    padding-left: 90px;
    grid-area: ev7;
  }
  .evn8
  {
    padding-left: 90px;
    grid-area: ev8;
  }
 
}
@media only screen and (max-width:469px) and (min-width:200px)
{
    .evnc{
  
        width:100vw;
        height:2050px;
        background-color: #5d5b5e;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
          "ev1"
          "ev2"
          "ev3"
          "ev4"
          "ev5"
          "ev6"
          "ev7"
          "ev8"
         
        ;
 
   

        
      } 
      .evn1
  {
     
    padding-left: 10px;
    grid-area: ev1;
  }
  .evn2
  {
    padding-left: 10px;
    grid-area: ev2;  
  }
  .evn3
  {
    padding-left: 10px;
    grid-area: ev3;
  }
  .evn4
  {
    padding-left: 10px;
    grid-area: ev4;
  }
  .evn5
  {
    padding-left: 10px;
    grid-area: ev5;
  }
  .evn6
  {
    padding-left: 10px;
    grid-area: ev6; 
  }
  .evn7
  {
    padding-left: 10px;
    grid-area: ev7;
  }
  .evn8
  {
    padding-left:10px;
    grid-area: ev8;
  }
 
}




  